@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700&display=swap');

@theme {
  --font-display: "Great Vibes", cursive;
  --font-body: "Poppins", sans-serif;
}

body {
  background-color: #1a1a1a;
}